<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        {{> header}}

        <p>This is just a about body text</p>
        <p>This is just another about body text</p>

        {{> footer}}
    </body>
</html>
